/Exercici 2 - Creació classe triangle/Exercici2-CreacioClasseTriangle/nbproject/private/
/Exercici 2 - Creació classe triangle/Exercici2-CreacioClasseTriangle/build/
/Exercici 2 - Creació classe triangle/Exercici2-CreacioClasseTriangle/dist/
/Exercici 2 - Creació classe triangle/Exercici03-CalculadoraBasicaambForms/nbproject/private/
/Exercici 2 - Creació classe triangle/Exercici03/nbproject/private/
/Exercici 2 - Creació classe triangle/Exercici03-CalculadoraBàsicaAmbForms/nbproject/private/
/Exercici 2 - Creació classe triangle/Exercici03-CalculadoraBàsicaAmbForms/dist/
/Exercici 2 - Creació classe triangle/Exercici03-CalculadoraBàsicaAmbForms/build/
/Exercici03-CalculadoraBàsicaAmbForms/nbproject/private/
/Exercici 01 - Fitxer de text amb excepcions/build/
/Exercici 01 - Fitxer de text amb excepcions/dist/
/Exercici 01 - Fitxer de text amb excepcions/nbproject/private/
/Exercici 03 -Calculadora Bàsica amb forms/nbproject/private/
/Exercici2-CreacioClasseTriangle/nbproject/private/
/Exercici 2 -Creacio Classe Triangle/nbproject/private/
/Exercici 02 -Creacio Classe Triangle/nbproject/private/
/Exercici 03 - Calculadora Basica amb Forms/nbproject/private/
/Exercici 03 - Calculadora Basica amb Forms/build/
/Exercici 03 - Calculadora Basica amb Forms/dist/
/Exercici04- Visualització de Fitxer de Text en entorn gràfic de SWING/nbproject/private/
/Menu/build/
/Menu/dist/
/Menu/nbproject/private/
/Exercici 06 - Snake/dist/
/Exercici 08 - Les vuit reines/vuitReines/nbproject/private/
/Exercici 08 - Les vuit reines/build/
/Exercici 08 - Les vuit reines/dist/
