/Exercici 2 - Creació classe triangle/Exercici2-CreacioClasseTriangle/nbproject/private/
/Exercici 2 - Creació classe triangle/Exercici2-CreacioClasseTriangle/build/
/Exercici 2 - Creació classe triangle/Exercici2-CreacioClasseTriangle/dist/
